/*-------------------------------
        common style code
-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

hr {
    color: darkgrey;
    margin: 30px 0px;
}

/* banner section */

.banner {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 15px;
    padding: 30px;
    margin-top: 30px;

}

.world-cup-info {
    width: 50%;
    color: aliceblue;
    padding: 30px;
}

.world-cup-info p {
    margin-bottom: 30px;
}

.players {
    width: 50%;
}

.world-cup-title {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
}

/* .btn-primary span{
 display: none;
}
.btn-primary:hover span{
    display: inline-block;
   } */
.btn-primary {
    text-decoration: none;
    background-color: tomato;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    transition: background-color 1s ease-in-out;
}

.btn-primary:hover {
    background-color: red;

}

.palyers img {
    width: 100%;
}

/* blog section */
.blog-section {
    display: grid;
    grid-template-columns: 250px auto;
    column-gap: 25px;
    margin-top: 50px;
}

/* left section blog manu */
.blog-menu {
    display: flex;
    flex-direction: column;
    background-color: black;
    row-gap: 25px;
    padding: 30px;
    border-radius: 10px;
    height: 273px;
    justify-content: center;
}

.blog-menu a {
    text-decoration: none;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    color: black;
}

#active-btn {
    background-color: red;
    color: aliceblue;
    text-align: center;

}

/* right section blog */

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
}

/* single blog */

.single-blog {
    border: 1px solid;
    border-radius: 9px;
}

.single-blog:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.single-blog img {
    width: 100%;
}

/* blog body */

.blog-content {
    padding: 14px;
}

.blog-title {
    font-size: 18px;
    line-height: 27px;
    margin-top: 15px;
}

.blog-btn {
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid darkgray;
    color: #161616;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 2s ease-in-out;
}

.blog-info {
    display: flex;
    column-gap: 20px;
    padding: 5px 15px;
}

.video-duration span,
.blog-comment span {
    font-size: 16px;
}

#view-btn {
    padding: 15px 30px;
    display: none;
}

.blog-btn:hover {
    background-color: red;
}

/* footer */

.footer-bottom {
    height: 300px;
    background-color: black;
    color: aliceblue;
    padding-top: 120px;
    margin-top: 60px;
}

.footer-bottom h2 {
    text-align: center;
}

.footer-bottom ul li {
    list-style: none;
    display: inline-block;
    justify-content: center;
    margin: 0px 30px;
}

.footer-bottom ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
}

/* .footer-bottom ul{
    display: flex;
    flex-direction: column;
    column-gap: 10px;

} */
/* socila media */
.footer-social {
    margin-top: 50px;
    text-align: center;
}

.footer-social a {
    font-size: 30px;
    color: white;
    padding: 15px;
}

.matchs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
}

.flag {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.match {
    border: 1px solid;
    border-radius: 9px;
    padding: 50px 10px 0px;
    height: 200px;
}

.match:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.match h3 {
    margin-top: 20px;
    text-align: center;
}

.match p {
    margin-top: 10px;
    text-align: center;
}

/*-----------------------------------------
      mobile responsive         
 ----------------------------------------*/
@media only screen and (max-width: 688px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

    }

    .world-cup-info {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .world-cup-title {
        font-size: 25px;
        margin-bottom: 10px;
        text-align: center;
    }

    .world-cup-info p {
        margin-bottom: 30px;
        font-size: 14px;
        text-align: center;
    }

    .btn-primary {
        padding: 10px;
        font-size: 14px;
        text-align: center;

    }

    .players {
        width: 100%;
    }

    .responsive-image {
        width: 100%;
    }

    .blog-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-row-gap: 30px;
    }

    .blog-menu {
        background-color: #fff;
        padding: 0px 5%;

    }

    .blog-menu a {
        text-decoration: none;
        display: block;
        text-align: center;
        align-items: center;
        background-color: white;
        margin: 0px;
        padding: 12px 20px;
        border-radius: 8px;
        border: 1px solid darkgray;
        color: #161616;
    }

    .blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-bottom ul li {
        list-style: none;
        display: block;
        justify-content: center;
        margin: 15px 19px;
        text-align: center;
    }

    .footer-bottom {
        height: 390px;
        padding-top: 43px;
        margin-top: 41px;
    }

    .footer-social {
        margin-top: 13px;
        text-align: center;
    }

    .matchs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 25px;
        row-gap: 25px;
    }
}

/*-----------------------------------------
            Tablet Responsive 
------------------------------------------*/

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .banner {
        display: flex;
        align-items: center;
    }

    .world-cup-info {
        width: 50%;
        padding: 10px;
    }

    .world-cup-title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .world-cup-info p {
        margin-bottom: 30px;
        font-size: 14px;
    }

    .btn-primary {
        padding: 10px;
        font-size: 14px;
        text-align: center;

    }

    .players {
        width: 50%;
    }

    .responsive-image {
        width: 100%;
    }

    .blog-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-row-gap: 30px;
    }

    .blog-menu {
        background-color: #fff;
        padding: 0px 0%;
        flex-direction: row;
        height: auto;
        justify-content: space-between;
    }
   

    .blog-menu a {
        text-decoration: none;
        display: block;
        text-align: center;
        align-items: center;
        background-color: white;
        margin: 0px;
        padding: 12px 70px;
        border-radius: 8px;
        border: 1px solid darkgray;
        color: #161616;
    }

    .blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-bottom ul li {
        list-style: none;
        display: block;
        justify-content: center;
        margin: 15px 19px;
        text-align: center;
    }

    .footer-bottom {
        height: 390px;
        padding-top: 43px;
        margin-top: 41px;
    }

    .footer-social {
        margin-top: 13px;
        text-align: center;
    }

    .matchs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        row-gap: 25px;
    }

    #view-btn {
        padding: 15px 30px;
        display: inline-block;
    }

    .view-all {
        text-align: center;
    }

}